h1{
    font-size: 20pt;
    line-height: 2em;
}

h2{
    font-size: 18pt;
    line-height: 2em;
}

h3{
    font-size: 16pt;
    line-height: 2em;
}

h3{
    font-size: 14pt;
    line-height: 2em;
}

p{
    font-size: 12pt;
    line-height: 2em;
}
ul{
    font-size: 12pt;
}

section#contact_info div.container{
    max-width:90%;
    }


section#funding { 
    padding: 30px 0 0 0 ;
    }

#people h3{
    font-size: 12pt;
}

#people h2{
    font-size: 12pt;
}

.cta_group{
    align-items:center;
}
    
section#welcome figure{
    max-width:20%;
    height:auto;
    float:left;
}

section#image{
    background-color: transparent;
}

section#funding div.column {
    width: 20%;
    padding-left: 0px;
    padding: 5px;
    padding-block-start: 0px;
  }


#contact .map-responsive{

    overflow:hidden;
    position:relative;
    float: right;
    width: 80%;
    height: 80%;
    
}

#contact .map-responsive iframe{

    height:100%;

    width:100%;

    position:relative;

}

#image {
    z-index: 10;
}

#image .home-section{
    padding: 0 0 0 0 ;
}

@media (max-width:800px) {
    #welcome img{
      width:80px;
      padding-top:0em;
    }
  }

@media (min-width:800px) {
#welcome img{
    bottom: 5%;
    right: 10%;
    position:fixed;
    z-index: 5;}
}