h1{
    font-size: 20pt;
    line-height: 2em;
}

h2{
    font-size: 18pt;
    line-height: 2em;
}

h3{
    font-size: 16pt;
    line-height: 2em;
}

h3{
    font-size: 14pt;
    line-height: 2em;
}

p{
    font-size: 14pt;
    line-height: 2em;
}



section#contact_info div.container{
    max-width:90%;
    }

.cta_group{
    align-items:center;
}
    
section#welcome figure{
    max-width:20%;
    height:auto;
    float:left;
    padding-right: 10px;
}

section#image{
    background-color: transparent;
}