section#contact_info div.container{
    max-width:90%;
    }

.cta_group{
    align-items:center;
}
    
section#welcome figure{
    max-width:20%;
    height:auto;
    float:left;
    padding-right: 10px;
}
